/* @font-face {
  font-family: "onLeaf";
  src: url("/onLeaf.woff");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
} */

/* @font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("/GmarketSansTTFMedium.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
} */

@font-face {
  font-family: "CookieRun";
  src: url("/CookieRun Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
